/*------------------------- Modal Copyrigt -------------------------*/


/* Estilos personalizados para el modal */
.modal-content {
    background-color: #474747; /* Fondo gris claro */
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.modal-header {
    background-color: #202020; /* Fondo gris más oscuro para el encabezado */
    border-top-right-radius: 15px; /* Esquinas redondeadas */
    border-top-left-radius: 15px; /* Esquinas redondeadas */
    /* border-bottom: 1px solid #dee2e6;  Línea de separación */
}

.modal-title {
    color:  #ff4d6d;/* Color del texto del título */
}

.modal-body {
    color: #c4c4c4; /* Color del texto del cuerpo */
}